* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.homepage-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
}

.page {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.homepage-video-container {
    height: 100vh;
}

#video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.homepage-title {
    span {
        font-size: 40px;
    }

    p {
        font-size: 1rem;
    }
}

.homepage-button {
    button {
        padding: 0.5rem 6rem;
        font-size: 1rem;
        background: none;
        border: 3px solid white;
        border-radius: 5px;
    }

    span {
       color: white;
    }
}

.homepage-model3-container {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homepage-modelY-container {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homepage-modelS-container {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homepage-modelX-container {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homepage-solar-panel-container {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/425_HP_SolarPanels_D');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homepage-solar-roof-container {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homepage-accessories-container {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Desktop_Accessories');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media screen and (max-width: 625px) {
    .homepage-model3-container {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1624,w_750,c_fit,f_auto,q_auto:best/Model-S-homepage-mobile');
    }

    .homepage-modelY-container {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_2100,w_800,c_fit,f_auto,q_auto:best/Homepage-ModelY-LHD-Mobile');
    }

    .homepage-modelS-container {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1624,w_750,c_fit,f_auto,q_auto:best/Model-S-homepage-mobile');
    }

    .homepage-modelX-container {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1700,w_800,c_fit,f_auto,q_auto:best/Homepage-Model-X-Mobile-LHD_001');
    }

    .homepage-solar-panel-container {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1576,w_600,c_fit,f_auto,q_auto:best/Homepage-SolarPanels-Mobile');
    }

    .homepage-solar-roof-container {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_2100,w_800,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Mobile');
    }

    .homepage-accessories-container {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_2100,w_800,c_fit,f_auto,q_auto:best/Homepage-Accessories-Mobile');
    }
}



