* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.text-container {
    text-align: center;
    color: white;

    button:hover {
        cursor: pointer;
    }

}

.text-title {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.text-buttons-container{
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.text-title {
    padding-top: 8rem;
    
    span {
        font-size: 40px;
    }

    p {
        font-size: 12px;
        margin-top: 0.3rem;
        text-underline-offset: 4px;
    }
}

.text-title {
    animation: fadeInUp;
    animation-delay: 3s;
}

.text-button {
    padding-bottom: 5rem;
    font-size: 12px;

    button {
        background: none;
        padding: 0.5rem 0;
        border: 3px solid white;
        border-radius: 5px;
        color: white;
        width: 16rem;
        font-family: 'Museo';
    }
    
}

.text-double-buttons {
    padding-bottom: 5rem;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
        padding: 0.6rem 0;
        width: 16rem;
        border-radius: 5px;
        border: none;
        font-family: 'Museo';
    }

    #button-one {
        background-color: rgba(23, 26, 32, 0.8);
        color: white;

    }

    #button-two {
        background-color: rgba(244, 244, 244, 0.65);
    }
}

.accessories-button {
    padding-bottom: 5rem;
    font-size: 12px;

    button {
        background-color: rgba(23, 26, 32, 1);
        color: white;
        font-family: 'Museo';
        
        
    }
}