* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.text-container {
    text-align: center;
    color: white;

    button:hover {
        cursor: pointer;
    }

}

.text-title {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 0;
}

.description-model {
    text-decoration: underline;
    text-decoration-thickness: 0px;
    transition: text-decoration-thickness 0.3s ease-in-out;
}

.description-model:hover {
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.text-buttons-container{
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.text-title {
    padding-top: 8rem;
    
    span {
        font-size: 40px;
    }

    p {
        font-size: 14px;
        margin-top: 0.3rem;
        text-underline-offset: 4px;
    }
}

.text-title {
    animation: fadeInUp;
    animation-delay: 3s;
}

.text-button {
    padding-bottom: 5rem;
    font-size: 14px;

    button {
        background: none;
        padding: 0.5rem 0;
        border: 3px solid white;
        border-radius: 5px;
        color: white;
        width: 16rem;
        font-family: 'Museo';
    }
    
}

.text-double-buttons {
    padding-bottom: 5rem;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
        padding: 0.6rem 0;
        width: 16rem;
        border-radius: 5px;
        border: none;
        font-family: 'Museo';
    }

    #button-one {
        background-color: rgba(23, 26, 32, 0.8);
        color: white;

    }

    #button-two {
        background-color: rgba(244, 244, 244, 0.65);
    }
}

.accessories-button {
    padding-bottom: 5rem;
    font-size: 14px;

    button {
        background-color: rgba(23, 26, 32, 1);
        color: white;
        font-family: 'Museo';
        padding: 0.6rem 0;
        width: 16rem;
        border-radius: 5px;
        border: none;
        
        
    }
}

@media screen and (max-width: 625px) {
    .text-title {
        padding-top: 12rem;
        width: 90%;
    }

    .text-buttons-container{
        position: fixed;
        top: 90%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100vw;
        padding: 0 2rem;
    }

    .text-button, .accessories-button {
        padding-bottom: 0rem;
        padding-top: 3rem;
        
        button {
            width: 100%;
        }
    }
    

    .text-double-buttons {
        flex-direction: column;

        button {
            width: 100%;
        }
    }
}