

.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    width: 18rem;
    background-color: #ffffff;
    height: 100vh;
    padding: 1rem 1rem 1rem 1.5rem;
    color: #393C41;
    font-size: 16px;
    z-index: 1;
}

.menu-exit {
    width: 100%;
    height: 4.5rem;
    text-align: right;

    img {
        height: 16px;
        width: 16px;
    }

    button {
        padding: 10px 10px 8px 10px;
        border: none;
        background-color: rgb(0,0,0,0);
        transition: background-color 0.3s ease-in;
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(0,0,0,0.1);
        cursor: pointer;
    }
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    button {
        background-color: rgb(0,0,0,0);
        border: none;
        text-align: left;
        padding: 5px 10px;
        color: #393C41;
        font-size: 16px;
        font-family: 'Museo', sans-serif;
        transition: background-color 0.3s ease-in;
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(0,0,0,0.1);
        cursor: pointer;
    }
    
}

.menu-options-container {
    height: 84vh;
    padding-bottom: 10rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.menu-options-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    z-index: 0;
}

.hide {
    display: none;
}

@media screen and (max-width: 625px) {    
    .menu-options-container {
        padding-bottom: 6rem;
    }

    .menu-options {
        gap: 20px;
        button {
            font-size: 20px;
        }
    }

    .menu-exit {
        height: 6rem;
        img {
            height: 20px;
            width: 20px;
        }

        button {
            padding: 20px;
            background: none;
        }

        button:hover  {
            background-color: rgba(0,0,0,0);
            background: none;
        }
    }
}