body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Museo', sans-serif;
}

body {
  overflow: hidden;
  touch-action: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Museo';
  src: local('Museo'), url('./Fonts/MuseoSans_500.ttf') format('truetype');
}


